In [3]:
import pandas as pd

In [20]:
# 读取 CSV 格式文件“task_1_zhaopin_data.csv” (阅读参考文献 4)，并展示所有数据，数据名为为 df1;
# 利用 head 选取前部数据查看 (阅读参考文献 5);

df1 = pd.read_csv('./task_1_zhaopin_data.csv')
df1.head(2)

,工作名,薪资,学历要求,工作经验,是否全职,公司名,公司类型,公司规模,任职要求,其他备注
0,python开发工程师,8K-10K,大专,1-3年,全职,上海蜗兴科技有限公司,民营,20-99人,任职要求：?1、计算机相关专业大专及以上学历；2、有Python开发经验，熟悉Django、...,NaN
1,Python开发工程师,15K-30K,本科,3-5年,全职,苏州复鹄电子科技有限公司,民营,20人以下,职位描述：复鹄电子科技有限公司现正集中开发对标美国DAPAR计划，具有革命颠覆性的模拟电路全...,NaN

In [21]:
# 利用 tail 选取底部数据查看 (阅读参考文献 5);

df1.tail(2)

,工作名,薪资,学历要求,工作经验,是否全职,公司名,公司类型,公司规模,任职要求,其他备注
530,大数据审计岗（上海）,20K-40K,本科,3-5年,全职,永辉超市股份有限公司,民营,10000人以上,1、与大数据部合作建立大数据审计平台 2、协助合伙人通过风险评估草拟年度大数据审计发展...,NaN
531,高级sas程序员,12K-15K,本科,3-5年,全职,上海盛迪医药有限公司,民营,100-499人,JobPurpose:1.?????为临床试验项目提供各种类型的数据处理和分析方面的服务，包...,NaN

In [22]:
# 选取前 3 行数据查看 (阅读参考文献 5);

df1.iloc[:3, :]

,工作名,薪资,学历要求,工作经验,是否全职,公司名,公司类型,公司规模,任职要求,其他备注
0,python开发工程师,8K-10K,大专,1-3年,全职,上海蜗兴科技有限公司,民营,20-99人,任职要求：?1、计算机相关专业大专及以上学历；2、有Python开发经验，熟悉Django、...,NaN
1,Python开发工程师,15K-30K,本科,3-5年,全职,苏州复鹄电子科技有限公司,民营,20人以下,职位描述：复鹄电子科技有限公司现正集中开发对标美国DAPAR计划，具有革命颠覆性的模拟电路全...,NaN
2,python开发工程师,17K-30K,本科,3-5年,全职,上海心莲信息科技有限公司,民营,不限,1、3年以上Python开发经验，有独立设计大规模数据处理和分析系统的经验和能力； 2...,NaN

In [23]:
# 选取第 3 行数据查看 (阅读参考文献 5)

df1.iloc[2:3,:]

,工作名,薪资,学历要求,工作经验,是否全职,公司名,公司类型,公司规模,任职要求,其他备注
2,python开发工程师,17K-30K,本科,3-5年,全职,上海心莲信息科技有限公司,民营,不限,1、3年以上Python开发经验，有独立设计大规模数据处理和分析系统的经验和能力； 2...,NaN

In [24]:
# 选取【学历要求】、【工作经验】、【是否全职】3 列 (阅读参考文献 6)

df1.loc[:, ['学历要求', '工作经验', '是否全职']]

    学历要求  工作经验 是否全职
0     大专  1-3年   全职
1     本科  3-5年   全职
2     本科  3-5年   全职
3     本科  1-3年   全职
4     大专  3-5年   全职
..   ...   ...  ...
527   本科  3-5年   全职
528   本科  1-3年   全职
529   本科  3-5年   全职
530   本科  3-5年   全职
531   本科  3-5年   全职

[532 rows x 3 columns]

In [25]:
# 将【公司名】设置为 index 索引 (阅读参考文献 7)，并将表格重新命名为 df2;

df2 = df1.set_index(['公司名'], inplace = False)
df2.head(2)

,工作名,薪资,学历要求,工作经验,是否全职,公司类型,公司规模,任职要求,其他备注
公司名,,,,,,,,,
上海蜗兴科技有限公司,python开发工程师,8K-10K,大专,1-3年,全职,民营,20-99人,任职要求：?1、计算机相关专业大专及以上学历；2、有Python开发经验，熟悉Django、...,NaN
苏州复鹄电子科技有限公司,Python开发工程师,15K-30K,本科,3-5年,全职,民营,20人以下,职位描述：复鹄电子科技有限公司现正集中开发对标美国DAPAR计划，具有革命颠覆性的模拟电路全...,NaN

In [26]:
# 在 df2 上删除指定列【其他备注】(阅读参考文献 8)，并命名新表为 df3;

df3 = df2.drop(['其他备注'], axis = 1, inplace = False)
df3.head(2)

,工作名,薪资,学历要求,工作经验,是否全职,公司类型,公司规模,任职要求
公司名,,,,,,,,
上海蜗兴科技有限公司,python开发工程师,8K-10K,大专,1-3年,全职,民营,20-99人,任职要求：?1、计算机相关专业大专及以上学历；2、有Python开发经验，熟悉Django、...
苏州复鹄电子科技有限公司,Python开发工程师,15K-30K,本科,3-5年,全职,民营,20人以下,职位描述：复鹄电子科技有限公司现正集中开发对标美国DAPAR计划，具有革命颠覆性的模拟电路全...

In [27]:
# 在 df3 上删除指定行数据，“上海蜗兴科技有限公司”所在行 (阅读参考文献 8)，并将数据命名为 df4;

df4 = df3.drop(['上海蜗兴科技有限公司'], axis = 0, inplace = False)
df4.head(2)

,工作名,薪资,学历要求,工作经验,是否全职,公司类型,公司规模,任职要求
公司名,,,,,,,,
苏州复鹄电子科技有限公司,Python开发工程师,15K-30K,本科,3-5年,全职,民营,20人以下,职位描述：复鹄电子科技有限公司现正集中开发对标美国DAPAR计划，具有革命颠覆性的模拟电路全...
上海心莲信息科技有限公司,python开发工程师,17K-30K,本科,3-5年,全职,民营,不限,1、3年以上Python开发经验，有独立设计大规模数据处理和分析系统的经验和能力； 2...

In [30]:
# 保存 df4 为 CSV 格式文件，并把被保存的 CSV 格式文件命名为“task_1_zhaopin_data_update.csv (阅读参考 文献 9)”。

df4.to_csv('./task_1_zhaopin_data_update.csv', encoding='utf-8')